body {

    background-image: linear-gradient(aqua, DodgerBlue);
    background-attachment: fixed;
    font-size: 100%;
    margin: 30px;

}

#cabeçalho{

    text-align: center;
    font-size: 1.5em;
    text-align: center;
    font-family: serif;
    font-weight: normal;
    margin-bottom : 30px;


}

#cabeçalho img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
}



#categorias{
    
    background-color: #FFF;
    line-height: 1em;
    padding: 0em 1em;
    border: solid black;
    overflow: hidden;

}

#produtos{
    
    background-color: #FFF;
    line-height: 1em;
    padding: 0em 1em;
    border: solid black;
    overflow: hidden;

}

#about{
    
    background-color: #FFF;
    line-height: 1em;
    padding: 0em 1em;
    border: solid black;
    overflow: hidden;

}






@media only screen and (min-width: 690px) {
    /* 227px */ 
}

@media only screen and (min-width: 600px) {
    /* 180px */
}

@media only screen and (min-width: 480px) {                                 
    /* 29px */                                 
}
