body {
    background-attachment: fixed;
    font-size: 100%;
    color: #fff;
    margin: 0;
    font-family: "Exo 2";
    background-color: #121212;
}


#categorias{
    line-height: 1em;
    padding: 10em 1em;
    border: solid #0d0d0d;
    overflow: hidden;
    float: left;
    background-color: #404040;
    text-align: left;
}

#produtos{ 
    line-height: 1em;
    padding: 0em 1em;
    border: solid #0d0d0d;
    overflow: hidden;
    background-color: #1a1a1a;
}

#produtos img{ 
  float: left;
  clear: left;
  width: 20%;
  margin-bottom: 2em;
}

#detalhes_do_produto{  
  line-height: 1em;
  padding: 0em 1em;
  border: solid #0d0d0d;
  overflow: hidden;
}

#about{
    line-height: 1em;
    padding: 0em 1em;
    border: solid #0d0d0d;
    overflow: hidden;
    background-color: #1a1a1a;
}

@media only screen and (min-width: 690px) {
    /* 227px */ 
}

@media only screen and (min-width: 600px) {
    /* 180px */
}

@media only screen and (min-width: 480px) {                                 
    /* 125px */                                 
}

#cabeçalho {
  border: solid #0d0d0d;
}

#cabecalho .navbar {
  overflow: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: #404040;
  vertical-align: text-bottom;
}

#cabecalho img{
  float: left;
  margin-right: 0.3em;
  width: 100px;
}

#cabecalho .navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1.02em 1.0em;
  text-decoration: none;
  font-size: 20px;
}

#cabecalho .navbar a:hover {
  background-color: #ddd;
  color: black;
}


#cabecalho .navbar a.active {
  background-color: #62acb573;
  color: white;
}

#cabecalho .navbar form {  
  float: right;
}

#cabecalho .navbar form input {
  font-size: 23px;
  border: none;
  padding: 0.82em 0.73em;
}

#cabecalho .navbar form button {
  float: right;
  padding: 1.12em 1em;
  font-size: 19px;
  border: none;
  cursor: pointer;
  background: #62acb573;
  color: white;
}

#cabecalho .navbar form button:hover {
  background: #295157;
}
