
body {
    background-attachment: fixed;
    font-size: 100%;
    color: #fff;
    margin: 0;
    font-family: "Exo 2";
    background-color: #121212;
}


/*----------------CATEGORIAS-----------------*/

#categorias{
    line-height: 1em;
    padding: 1em 1em;
    border: solid #0d0d0d;
    overflow: hidden;
    float: left;
    background-color: #404040;
    text-align: left;
    margin: 20px 20px 0px 0px;
    width: 205px;
}

#categorias ul a:link{
  color: white;
  text-decoration: none;
}

#categorias ul a:visited{
  color: white;
}

#categorias ul a.active{
  color: white;
  font-weight: bold;
}

/*----------------PRODUTOS-----------------*/

#produtos{ 
  line-height: 1em;
  border: solid #0d0d0d;
  overflow: hidden;
  background-color: #1a1a1a;
  margin: 20px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#produtos #result h4{
  text-align: center;
}

#produtos img{ 
  float: left;
  clear: left;
  width: 227px;
  margin-bottom: 2em;
}

#product {
  overflow:auto;
  margin:0.5em;
  border-style: groove;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#product p{
  margin-top: 20px;
  margin-left: 140px;
}

#product a:link{
  color: #4f7075;
  text-decoration: none;
}

#product a:visited{
  color: #4f7075;
}

#page_navigation {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;
}

#page_navigation strong a.pages{
  color: #ffffffa6;
}

#page_navigation a:link, #page_navigation a:visited{
  color: #ffffff;
  text-decoration: none;
}

#page_navigation a.next_page{
  color: #62acb573;
}

.price {
  font-size: 20px;
}

/*----------------DETALHES DOS PRODUTOS-----------------*/

#detalhes_do_produto{
  /* text-align: center; */
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 20px;
}

#detalhes_do_produto h1{
  color: #4f7075;
}

#detalhes_do_produto #info{
  margin-top: 1em;
}

#detalhes_do_produto .payments{
  margin-bottom: 1em;
  margin-right: 100%;
}

/*---------------PESQUISA AVANÇADA---------------------*/

#pesquisa_avancada{ 
  line-height: 1em;
  border: solid #0d0d0d;
  overflow: hidden;
  background-color: #1a1a1a;
  margin: 20px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

/*----------------ABOUT-----------------*/


#about{
  width: 100%;
}

@media only screen and (min-width: 300px) {                                 
  #cabecalho .navbar img{
    float: none;
    clear: both;
  }
  #cabecalho .navbar :link, #cabecalho .navbar :active{
    position: inherit;
    visibility: hidden;
  }

  #cabecalho .navbar form{
    position: static;
  }

  #categorias{
    float:none;
  }

  #produtos img{ 
    margin-bottom: 5px;
    width: 124px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #product p{
    margin-left: 0px;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 480px) {                                 
  
  #categorias{
    float:none;
  }

  #cabecalho .navbar a:link, #cabecalho .navbar a:active{
    visibility: hidden;
  }

  #product p{
    margin-left: 0px;
    margin-top: 1em;
  }

  #produtos img{ 
    width: 124px;
    float:left;
  }
}

@media only screen and (max-width: 600px) {
  #detalhes_do_produto .product_img{ 
    width: 550px;
    float:left;
  }
  #detalhes_do_produto .payments{
    width:100%;
  }
}

@media only screen and (min-width: 600px) {
  
  #categorias{
    float: none;
  }

  #produtos img{ 
    width: 180px;
    margin-left: 0px;
    float: left;
  } 

  #cabecalho .navbar a:link, #cabecalho .navbar a:active{
    visibility: visible;
  }

  #detalhes_do_produto h3, #detalhes_do_produto p, #detalhes_do_produto li{
    text-align: left;
  }

  #detalhes_do_produto .product_img{
    width: 300px;
    float: left;
  }
  #detalhes_do_produto .payments{
    width: 25%;
  }
}

@media only screen and (min-width: 690px) {

  #categorias{
    float: left;
  }

  #detalhes_do_produto h3, #detalhes_do_produto p{  
    text-align: left;
  }

  #cabecalho .navbar a:link, #cabecalho .navbar a:active{
    visibility: visible;
  }

  #produtos img{ 
    width: 227px;
  } 
}

@media only screen and (max-width: 750px){
  #categorias{
    width: 100%;
  }
}

@media only screen and (min-width: 750px){
  #categorias{
    float: left;
    width: 205px;
  }
}

#cabecalho{
  overflow: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-color: #404040;
  border-bottom: solid #0d0d0d;
  position: relative;
  width: 100%;
}

#cabecalho img{
  float: left;
  margin-right: 0.3em;
  width: 100px;
}

#cabecalho .navbar{
  overflow: auto;
  bottom: 100%;
}

#cabecalho .navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1.02em 1.0em;
  text-decoration: none;
  font-size: 20px;
}

#cabecalho .navbar a:hover {
  background-color: #ddd;
  color: black;
}


#cabecalho .navbar a.active {
  background-color: #62acb573;
  color: white;
  position: absolute;
  bottom: 20%;
}

#cabecalho .navbar form {  
  position: absolute;
  bottom: 20%;
  right: 1%;
}

#cabecalho .navbar form input {
  font-size: 23px;
  border: none;
  padding: 0.82em 0.73em;
}

#cabecalho .navbar form button {
  float: right;
  padding: 1.12em 1em;
  font-size: 19px;
  border: none;
  cursor: pointer;
  background: #62acb573;
  color: white;
}

#cabecalho .navbar form button:hover {
  background: #295157;
}

#about{
  padding: 1em 1em 1em 1em;
  line-height: 1em;
  border-top: solid #0d0d0d;
  background-color:  #404040;
}

#about a:link, #about a:visited{
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #4f7075; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e575b; 
}